
/.vs/GameV1/FileContentIndex
*.vsidx
*.vsidx
/.vs/GameV1/FileContentIndex
.vs/GameV1/FileContentIndex/1d389263-33bb-45bd-a447-4d7fcd8ac4d3.vsidx
.vs/GameV1/v17/Browse.VC.db
.vs/GameV1/v17/Browse.VC.db-shm
.vs/GameV1/v17/Browse.VC.db-wal
.vs/GameV1/v17/Browse.VC.opendb
.vs/GameV1/v17/ipch/AutoPCH/1b0410757b27d6cb/MAIN.ipch
